.cContainer {
	width: 900px;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;

	background-color: aquamarine;
}

.background {
	width: 503px;
	height: auto;
	background-color: #000000;
}
